<section class="product__container">

    <div class="product-image__container">

      <img src="/assets/images/a7x.jpg" alt="compre o cd do a7x">
    </div>
    <div class="product-description__container">
      <h2 class="product__name">Cd Novo Avenged Sevenfold</h2>
      <h3 class="product__price"> R$ 350.00 </h3>
      <p> Estoque disponivel: </p>
      <label>
        Quantidade:
        <input type="number">
        Unidade (s)
      </label>
      <p class="class product__avaiability">
        10 unidade (s) em estoque
      </p>
      <button>Adicionar ao carrinho </button>
    </div>
</section>
