<footer class="footer">

    <div class="footer__container">
      <section>
        <h2 class="footer__title">Sobre</h2>
          <p class="footer__about-text">
            Empresa fundada em 2023 com proposito de transformar a vida dos leitores e programadores
            brasileiros, trazendo diversidade na leitura de livros e best sellers de programação, ajudando
            na escolha do titulo a ser lido para melhoria da educação dos nossos devs.
          </p>
      </section>
      <address><h2 class="footer__title">Contato</h2>

        <ul>
          <li><i class="fa-solid fa-envelope"></i>appcompras@appcompras.com</li>
          <li><i class="fa-solid fa-phone"></i> (11) 99999-9999</li>
          <li><i class="fa-brands fa-whatsapp"></i>(11) 99999-9999</li>
        </ul>

      </address>

    </div>

    <section class="footer__copyright">
      &copy; Todos os direitos reservados - 2023
    </section>

</footer>
