<h2 class="contato__title">Entre em contato!</h2>
<section class="contact__container">
  <form class="contact-form">
      <input type="text" placeholder="Digite o seu nome..." />
      <input type="text" placeholder="Digite o asssunto..." />
      <input type="tel" placeholder="(00) 0 0000-0000" />
      <input type="emai" placeholder="Digite o seu email..." />
       <textarea maxlength="300" placeholder="Digite sua mensagem..."></textarea>
       <button>Enviar</button>
  </form>
  <address>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14634.727227254925!2d-46.34048696623505!3d-23.50796783332687!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce7b16cfffff93%3A0xa54dd5844bbca41d!2sAL3M%20Solu%C3%A7%C3%A3o%20Inteligente!5e0!3m2!1spt-BR!2sbr!4v1686148249096!5m2!1spt-BR!2sbr" width="600" height="450"  frameborder="0"></iframe>
        <p>R. Foz do Iguaçu - Vila Lucia, Poá - SP, 08557-710</p>
  </address>
</section>

